@model IEnumerable<HeThongNhaSach.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
}

<h1>Bảng hoá đơn</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary mt-2"><i class="fas fa-plus-circle"></i> Thêm hoá đơn</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Loại hoá đơn
            </th>
            <th>
                Ngày lập
            </th>
            <th>
                Mã nhân viên
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Loaihd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaylap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tinhtrang)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Mahd" class="btn btn-sm btn-warning mb-3">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Mahd" class="btn btn-sm btn-success mb-3">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Mahd" class="btn btn-sm btn-danger btndelete mb-3">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
