@model IEnumerable<HeThongNhaSach.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Loaihd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaylap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinhtrang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Loaihd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaylap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mahd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mahd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mahd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
